<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.business.test.mapper.GoodsExtMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.cy.business.test.entity.GoodsExt" id="BasicsResultMap">
		<id property="id" column="id" />
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="createId" column="create_id"/>
		<result property="createDate" column="create_date"/>
		<result property="modifyDate" column="modify_date"/>
    </resultMap>
    
   	<!-- 用于select查询公用抽取的列 -->
	<sql id="Basics_columns">
		id,title,content,create_id,create_date,modify_date
	</sql>

	<!-- 新增 useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.cy.business.test.entity.GoodsExt">
		INSERT INTO GOODS_EXT
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="title != null" >
				title,
			</if>
			<if test="content != null" >
				content,
			</if>
			<if test="createId != null" >
				create_id,
			</if>
			<if test="createDate != null" >
				create_date,
			</if>
			<if test="modifyDate != null" >
				modify_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="title != null" >
				#{title},
			</if>
			<if test="content != null" >
				#{content},
			</if>
			<if test="createId != null" >
				#{createId},
			</if>
			<if test="createDate != null" >
				#{createDate},
			</if>
			<if test="modifyDate != null" >
				#{modifyDate},
			</if>
		</trim>
		<!--
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL
			DB2: order="BEFORE"" values nextval for sequenceName
			<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
				SELECT sequenceName.nextval AS ID FROM DUAL
			</selectKey>
		-->
	</insert>

	<!-- 批量新增 -->
	<insert id="insertBatch" parameterType="com.cy.business.test.entity.GoodsExt">
		INSERT INTO GOODS_EXT (
		 id, title, content, create_id, create_date, modify_date
		) VALUES
		<foreach item="id" collection="list" separator=",">
		(
		 #{id}, #{title}, #{content}, #{createId}, #{createDate}, #{modifyDate}
		)
		</foreach>
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM GOODS_EXT
		WHERE
		id = #{id} 
	</delete>

	<!-- 批量删除 -->
	<delete id="deleteBatch">
		DELETE FROM GOODS_EXT
		WHERE
		id IN
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<!-- 更新 -->
	<update id="update" parameterType="com.cy.business.test.entity.GoodsExt">
		UPDATE GOODS_EXT
		<set>
			<if test="title != null" >
				title = #{title},
			</if>
			<if test="content != null" >
				content = #{content},
			</if>
			<if test="createId != null" >
				create_id = #{createId},
			</if>
			<if test="createDate != null" >
				create_date = #{createDate},
			</if>
			<if test="modifyDate != null" >
				modify_date = #{modifyDate},
			</if>
		</set>
		WHERE
			id = #{id}  
	</update>

	<!-- 查询详情 -->
	<select id="getObjectByPK"  resultMap="BasicsResultMap" parameterType="java.lang.Long">
		SELECT <include refid="Basics_columns" />
		FROM GOODS_EXT
		WHERE
			id = #{id} 
	</select>

	<!-- 查询列表 -->
	<select id="queryList"  resultMap="BasicsResultMap" parameterType="com.cy.business.test.entity.GoodsExt">
		SELECT <include refid="Basics_columns" /> FROM GOODS_EXT
		<where>
				<if test="title != null" >
					AND title = #{title}
				</if>
				<if test="content != null" >
					AND content = #{content}
				</if>
				<if test="createId != null" >
					AND create_id = #{createId}
				</if>
				<if test="createDate != null" >
					AND create_date = #{createDate}
				</if>
				<if test="modifyDate != null" >
					AND modify_date = #{modifyDate}
				</if>
		</where>
	</select>

	<!-- 查询总记录数 -->
 	<select id="queryTotal" resultType="int" parameterType="com.cy.business.test.entity.GoodsExt">
		SELECT COUNT(1) FROM GOODS_EXT
		<where>
				<if test="title != null" >
					AND title = #{title}
				</if>
				<if test="content != null" >
					AND content = #{content}
				</if>
				<if test="createId != null" >
					AND create_id = #{createId}
				</if>
				<if test="createDate != null" >
					AND create_date = #{createDate}
				</if>
				<if test="modifyDate != null" >
					AND modify_date = #{modifyDate}
				</if>
		</where>
	</select>

</mapper>